<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f2e37662-eca6-4bf1-9000-8b5d7712ca7d" Version="1.0.0.0" Publisher="CN=Eric" />
  <Properties>
    <DisplayName>FITC_Web_Unleased_2013</DisplayName>
    <PublisherDisplayName>Eric</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="FITC Web Unleased 2013" Description="FITC_Web_Unleased_2013" ForegroundText="light" BackgroundColor="white" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile ShortName="FITC 2013" Square70x70Logo="images\Square70x70Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>